<section style="text-align: left">
  <h1>Thermo Trains</h1>
  <h4>Automatische Detektion von Isolationsproblemen an fahrenden Zügen</h4>

  <p>
    <small>Sebastian Häni, Raphael Laubscher</small>
  </p>
</section>

{% include "parts/td0-train-pano.html" %}
{% include "parts/td1-einleitung.html" %}
{% include "parts/td2-predictive-maintenance.html" %}
{% include "parts/td3-thermoboard.html" %}
{% include "parts/td4-post-processing.html" %}
{% include "parts/td5-akquise.html" %}
{% include "parts/td6-summary.html" %}

<section style="text-align: left;">
  <h1>THE END</h1>

  <img src="images/pipeline/pano.jpg" class="pano-scroll">

</section>
