<section style="text-align: left">
  <h1>Thermo Trains</h1>
  <h4>Detektion von Isolationsproblemen an fahrenden Zügen</h4>

  <p>
    <small>Sebastian Häni, Raphael Laubscher</small>
  </p>
</section>

{% include "parts/td0-train-pano.html" %}
{% include "parts/td1-einleitung.html" %}
{% include "parts/td2-predictive-maintenance.html" %}
{% include "parts/td5-akquise.html" %}
{% include "parts/td4-post-processing.html" %}
{% include "parts/td3-thermoboard.html" %}
{% include "parts/td7-temp-calculation.html" %}
{% include "parts/td6-summary.html" %}

<section style="text-align: left;">
  <h1 style="text-shadow: 0 0 15px #000000">Thermo Trains</h1>
  <p style="margin-left: 14px; text-shadow: 0 0 15px #000000;">More at https://thermotrains.github.io</p>

  <img src="images/pipeline/pano.jpg" class="pano-scroll">

</section>
