<section>
  <h2>Daten-Akquise:<br>Thermo-Scanner</h2>
</section>

{% include "parts/akquise/hardware.html" %}
{% include "parts/akquise/standort.html" %}

<section data-background-image="images/entering-train.jpg" data-background-size="contain">
  <h2 style="text-shadow: 0 0 15px #000000;">Aufnahmesteuerung autonom</h2>
</section>
<section data-background-image="images/entering-train-snow.jpg" data-background-size="contain"></section>
<section data-background-image="images/entering-train-night.jpg" data-background-size="contain"></section>
<section data-background-image="images/rain-train.jpg" data-background-size="contain"></section>

<!-- TODO Ablauf Aufnahme, Metadaten sammeln, Kompression, Upload -->

<section>
  <h3>Ablauf Aufnahme</h3>
  <ul>
    <li>Detektionsalgorithmus</li>
    <li>Pub/Sub Pattern</li>
    <li>Komponenten (Kameras, Metadaten)</li>
    <li>Logs, Maintenance</li>
    <li>Anzahl gemachter Aufnahmen</li>
  </ul>
</section>

<section>
  <h3>Kompression IR Daten</h3>
  <ul>
    <li>16 Bit zu 8 Bit</li>
    <li>Genauigkeitsverlust</li>
    <li>Upload</li>
  </ul>
</section>
